<h1>Your current tasks</h1>

<% @tasks.each do |task| %>
  <h3><input type="checkbox" <%= "checked" if task.completed == true %>><%= link_to task.title, task_path(task) %> - <%= link_to "delete", kill_path(task), method: :delete, data: { confirm: "Are you sure?" } %></h3>
<% end %>

<%= link_to "Add a task", new_task_path %>

